@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  letter-spacing: 3px;
}

/* div {
  border: yellow solid 2px;
} */

.header-deals {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: black;
  font-size: 22px;
  padding: 20px;
  font-weight: bolder;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}

h1 {
  font-size: 45px;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: bolder;
  padding: 20px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.main-logo {
  width: 150px;
  height: auto;
}

.main-image {
  width: 100%;
  height: auto;
}
